.home {
  position: relative;

  .container {
    display: grid;
    grid-template-areas: 'header terminal';
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    align-items: center;
    height: 100vh;

    .header {
      grid-area: header;
      color: $white;

      h1, p {
        animation: fadeInFromLeft 2500ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
        margin: 0;
        transform: translateX(-100%);
        will-change: transform;
      }
      h1 {
        font-size: 2rem;
        font-weight: 600;
      }
      p {
        font-size: 1rem;
        animation-delay: 100ms;
      }
    }
    .terminal {
      grid-area: terminal;
      animation: fadeInFromRight 2500ms cubic-bezier(0.075, 0.82, 0.165, 1);
      transform: translateX(0);
      will-change: transform;
    }
  }
}