// animation must have -100% translateX
@keyframes fadeInFromLeft {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

// animation mus have 100% translateX
@keyframes fadeInFromRight {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}