// global colors
$black: #1b1b1b;
$white: #ffffff;

// terminal colors
$terminal-type: #51B7E9;
$terminal-blue: #2D3243;
$terminal-red: #E65A57;
$terminal-yellow: #E7AD3E;
$terminal-green: #33B947;
$terminal-divider: #22242F;