.navigation {
  margin: 0 auto;
  padding: 2rem 1rem;
  width: 100%;
  max-width: $container;

  .brand {
    grid-area: brand;

    a {
      color: $white;
      mix-blend-mode: difference;
      font-size: 1.5rem;
      font-weight: 600;
      text-decoration: none;
    }
  }
}